{% extends "_base.njk" %} 
{% block content %}
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">     
{% for post in content %}
<div class="post-preview">
    <a href="/post/{{ post.slug }}">
<h2 class="post-title">{{post.title}}</h2>
<h3 class="post-subtitle">{{post.teaser}}</h3>
</a>
<p class="post-meta">Posted by {{post.author}} ({{post.createdAt}})</p>
</div>
<hr class="my-4" />
{% endfor %}
         <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}