<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Wish Willow</title>
  </head>
  <body>
    
    <h1>One Wish Willow</h1>
    <form action="/messages" method="post">
      <label for="message">Your Wish</label>
      <input
        type="text"
        id="message"
        name="message"
        placeholder="Enter your wish here..."
      />
      <button type="submit">Submit</button>
    </form>
    {% block content %}
    {% if id %}
     <a href="/messages/{{id}}">Read Wish</a>
    {% endif %}
     {% endblock %}
  </body>
</html>
